[defaults]
local_tmp = ./.ansible/tmp
remote_tmp = ./.ansible/tmp
roles_path = ./.ansible/roles
collections_path = ./.ansible/collections
log_path = ./.ansible/ansible.log
nocows = True
inventory = inventory
become = True
result_format = yaml
interpreter_python = auto_silent
timeout = 10

[ssh_connection]
control_path_dir = ./.ansible/cp