export LANG=en_US.UTF-8

# Colorized terminal
unset LSCOLORS
export CLICOLOR=1
export CLICOLOR_FORCE=1

# Init completions
autoload -Uz compinit
compinit

# Shell completions scripts
fpath=($HOME/.docker/completions $fpath)
fpath=($HOME/.zsh/completions $fpath)

# Custom prompt
autoload -U colors && colors
NL=$'\n'
PS1="%F{green}%n%f@%F{yellow}%m%f %F{cyan}%~%f${NL}>%f "

# Don't require escaping globbing characters in zsh.
unsetopt nomatch

# Case insensitive
zstyle ':completion:*' matcher-list 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]} l:|=* r:|=*'

# Ngrok completions
if command -v ngrok &>/dev/null; then
  eval "$(ngrok completion)"
fi

# 1Password ssh agent
export SSH_AUTH_SOCK="$HOME/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# 1Password plugins
source "$HOME/.config/op/plugins.sh"

# Tell homebrew to not autoupdate every single time I run it (just once a week).
export HOMEBREW_AUTO_UPDATE_SECS=604800

# Use bat instead of cat
alias rcat="$(which cat)"

alias cat="$(which bat)"
export BAT_THEME="ansi-dark"

# Zsh syntax highlighting
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Zsh suggestions
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# Common exports
export COMPOSER_HOME=$HOME/.composer

# Activate mise
eval "$(mise activate zsh)"

# zsh
alias zshcc="rm ~/.zcompdump && autoload -Uz compinit && compinit"

# show xattr
alias lx="ls -@la"
