# .bash_profile

export LANG=en_US.UTF-8

# --- Get the aliases and functions ---
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi

# Added by Toolbox App                                                                                                                    
export PATH="$PATH:$HOME/.local/share/JetBrains/Toolbox/scripts"
